<center>
    <img src="https://drive.google.com/uc?export=view&id=1hDKusF04c0lNZA_qOShvWQrpImayVKz8"  width="1000" />
</center>

# Tugas Mandiri
---
Tugas mandiri ini digunakan pada kegiatan Kursus Data Science yang merupakan pembekalan bagi mahasiswa Universitas Gunadarma untuk Skema Associate Data Scientist

### Pertemuan 2 - Semester 8

## Tugas Mandiri Data Preparation
---

In [ ]:
# 1. Import Library Pandas
import <...> as <...>

In [ ]:
# 2. Memuat data berformat CSV
df = <...>.<...>('<...>')

In [ ]:
# 3. Menampilkan 5 baris teratas dari dataset 
df.<...>

#### Data cleansing - membuang kolom
Dari dataset di atas dapat diketahui bahwa kolom Flight merupakan kolom untuk ID masing-masing penerbangan, kolom ini dapat dibuang karena tidak memiliki makna rill. Untuk membuang kolom dapat menggunakan fungsi iloc maupun drop, berikut adalah perbedaan penggunaan loc dan iloc

<center>
    <img src="https://miro.medium.com/v2/resize:fit:1400/1*dYtynwab99wnMqfgyPUd3w.png"  width="500" />
</center>

In [ ]:
# 4. Memuat dataset
df_drop1 = <...>.<...>('delay_maskapai.csv')

In [ ]:
# 5. Menampilkan 5 baris pertama dari dataset
<...>.<...>

In [ ]:
# 6. Pada variabel df_drop1 pilihlah hanya kolom Airline, AirportFrom, AirportTo
df_drop1 = <...>.<...>[<...>,<...>]

In [ ]:
df_drop1.head()

In [ ]:
# 7. Memuat Dataset ke dalam variabel df_drop2
df_drop2 = <...>.<...>('<...>')

In [ ]:
# 8. Pada variabel df_drop2 buanglah kolom Flight, Airline, AirportFrom, AirportTo, DayOfWeek, Class
df_drop2.drop([<...>],axis=<...>,inplace=<...>)

In [ ]:
df_drop2.head()

#### Data cleansing - Mengubah indeks di dataframe
Karena tidak ada kolom yang bernilai unik pada dataframe, maka kita akan mencoba mengubah kolom Airline menjadi indeks dari dataset

In [ ]:
# 9. Import Library Numpy
import <...> as <...>

In [ ]:
# 10. Memuat data
df_index = <...>.<...>('<...>')

In [ ]:
# 11. Menjadikan kolom Airline sebagai index
df_index = <...>.<...>('Airline')

In [ ]:
# 12. Membuang kolom Flight dengan fungsi drop
df_index.<...>(<...>,<...>,<...>)

In [ ]:
df_index.head()

#### Data cleansing - Merapikan *Fields* dalam data

Pada dataset ini, kolom "Time" merupakan waktu keberangkatan dari sebuah maskapai. Kondisi nilai pada kolom tersebut adalah waktu yang dikonversi ke menit, untuk melihat jumlah delay terbanyak dari semua waktu keberangkatan, kita perlu mengonversi menit tersebut ke dalam jam dan menit

In [ ]:
# 13. Mengubah format kolom Time ke dalam Jam dan Menit
Time = <...>.<...>(<...>.<...>, unit='<...>').<...>.<...>('<...>.<...>')

In [ ]:
# 14. Membuat kolom baru dengan nama DepartTime dengan isi datanya berasal dari variabel Time
df['<...>'] = <...>

In [ ]:
df.head()

In [ ]:
# 15. Menghitung jumlah penerbangan dalam 24 jam
Time_Flight_Count = <...>.<...>('<...>').<...>[<...>].<...>
Time_Flight_Count.head()

In [ ]:
# 16. Mengurutkan 20 data dari jumlah penerbangan terbanyak
Time_Flight_Count.<...>(<...>).<...>

Dari kode di atas dapat diketahui bahwa waktu 06.00 merupakan waktu dengan jumlah terbanyak. Berikut kita akan lakukan visualisasi dengan line chart

In [ ]:
# 17. Mengimport library pyplot
import <...> as <...>

In [ ]:
# 18. Mengatur ukuran gambar
plt.<...>(<...>=(<...>, <...>))

# 19. Melakukan plot data
Time_Flight_Count.<...>()

# 20. Mengatur label sumbu x
ticks = range(<...>, len(<...>), <...>)  # Menentukan posisi label setiap 30 data
labels = Time_Flight_Count.<...>[<...>]  # Mengambil label berdasarkan posisi
plt.xticks(<...>=<...>) # Mengatur posisi rotasi label 90 derajat pada sumbu x
plt.xticks(<...>, <...>)  # Mengatur posisi dan label pada sumbu x

# 21. Mengatur label sumbu x, y dan judul grafik
plt.xlabel('<...>')
plt.ylabel('<...>')
plt.title('<...>')

# 22. Menampilkan grafik
plt.<...>()

#### Data cleansing - Mengganti Nama Kolom

In [ ]:
# 23. Memuat Dataset
df_rename_col = <...>

In [ ]:
# 24. Ubah Nama Kolom Flight -> ID Flight, Airline -> Maskapai, Class -> Kelas
df_rename_col = <...>.<...>(<...>=
                            {"<...>":"<...>"
                             ,"<...>":"<...>"
                             ,"<...>":"<...>"})

In [ ]:
# 25. Menampilkan 10 data teratas
df_rename_col.<...>